# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Environments
.env
.venv
env/
venv/
ENV/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
